<!-- Services Section -->
<div class="w3-center w3-padding-64" id="services">
  <span class="w3-xlarge w3-border-dark-grey w3-padding-16">Services</span>
  <p><%= ENV['services'] %></p>
</div>

<div class="w3-row-padding">
  <% @services.each_with_index do |service| %>
    <div class="w3-col s12 m6 l4 w3-margin-bottom">
      <div class="w3-display-container service-container">
        <div class="w3-display-middle w3-black w3-padding"><%= service.title %></div>
        <div style="background-image: url(<%= rails_blob_path(service.image , only_path: true) %>)" class="service-image"></div>
        <%#= image_tag(service.image, alt: service.title, style: "width:100%") %>
      </div>
    </div>
  <% end %>
</div>
