<!-- Services Section -->
<div class="w3-container w3-padding-16" id="services">
  <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Services</h3>
</div>

<div class="w3-row-padding">
  <% @services.each_with_index do |service| %>
    <div class="w3-col s12 m6 l4 w3-margin-bottom">
      <div class="w3-display-container service-container">
        <div class="w3-display-middle w3-black w3-padding"><%= service.title %></div>
        <div style="background-image: url(<%= url_for(service.image) %>)" class="service-image"></div>
        <%#= image_tag(service.image, alt: service.title, style: "width:100%") %>
      </div>
    </div>
  <% end %>
</div>
