<!-- Page content -->
<div class="w3-content" style="max-width:1564px">
  <!-- Sliders Section -->
  <%= render "layouts/sliders" %>

  <!-- About Section -->
  <%= render "about" %>

  <!-- Services Section -->
  <%= render "services" %>

  <!-- Contact Section -->
  <%= render "contact" %>

<!-- End page content -->
</div>
