<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
  <!-- Sliders Section -->
  <%= render "layouts/sliders", sliders: @sliders %>

  <!-- Services Section -->
  <%= render "services", sliders: @services %>

  <!-- About Section -->

<!-- End page content -->
</div>
