<div class="w3-container w3-theme-l5 status-content">
  <div class="w3-row">
    <div class="w3-col m6">
      <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter">
          <span class="w3-xxlarge">14+</span>
          <br>Ongoing
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">55+</span>
          <br>Completed
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">89+</span>
          <br>Happy Clients
        </div>
        <div class="w3-quarter">
          <span class="w3-xxlarge">150+</span>
          <br>Meetings
        </div>
      </div>

      <div class="w3-row w3-center">
        <a href="javascript:void(0)" onclick="openStatus(event, 'ongoing');">
          <div class="w3-padding-16 w3-large w3-col m6 tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red">On Going</div>
        </a>
        <a href="javascript:void(0)" onclick="openStatus(event, 'completed');">
          <div class="w3-padding-16 w3-large w3-col m6 tablink w3-bottombar w3-hover-light-grey w3-padding">Completed</div>
        </a>
      </div>
      <div class="w3-row">
        <div id="ongoing" class="w3-container projects">
          <% @ongoing.each do |project| %>
            <div class="w3-card w3-white w3-margin">
              <div class="w3-container">
              <h3><%= project.title %></h3>
              <p><%= project.description %></p>
              <p>Start date : <%= project.start_date.to_date %></p>
              <p><%= project.address %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div id="completed" class="w3-container projects" style="display:none">
          <h2>Paris</h2>
          <p>Paris is the capital of France.</p> 
        </div>
      </div>
    </div>
    <div class="w3-col m6">
      <div style="">
        <div class="w3-white" id="projects-map">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="leaflet/leaflet.js"></script>

<script>
  var projectsMap = L.map('projects-map', {scrollWheelZoom: false, zoomControl: false})
                     .setView([6.8058884, 79.9429199], 11)
                     
  L.control.zoom({position:'bottomleft'}).addTo(projectsMap);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoia2F1c2hpa3MiLCJhIjoiY2tqazIwZHN0MGExdjJzczJnZHdra2JweiJ9.DwDqTWB8kTASzJkmx13zOA'
    }
  ).addTo(projectsMap);

  gon.ongoing.forEach(data => {
    console.log(data);
    let marker = L.marker([data.lat.toString(), data.lng.toString()]).addTo(projectsMap).on('click', function(e) {
        clickZoom(e);
      }
    );

    // bubble label
    let label = "<b>"+data.title+"</b><br>"+ data.address;
    marker.bindPopup(label).openPopup();
  });

  function clickZoom(e) {
    let zoom = projectsMap.getZoom()
    projectsMap.setView(e.target.getLatLng(), zoom);
  }
</script>