.team-member {
  .profile-image {
    background-position: center;
    background-size: cover;
    height: 200px;
  }
}

.team-member,
.footer-company-details {
  .fa-envelope {
    padding-right: 10px;
  }
}
