// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


// Any variable updates to the `active_skin`
// Update here before @import "active_skin"

$panelHeaderBck: #344049;
$skinActiveColor: #b47c02;
$skinHeaderBck: #384147;
$skinLogo: asset_url("admin_logo.png") no-repeat 0 0;

@import "active_skin";

#site_title {
  background-size: 40px 40px !important;
  padding-left: 10px !important;
}

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


