// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-navbar {
  .company-log {
    background-image: asset_url("admin_logo.png");
    background-repeat: no-repeat;
    background-size: 45px !important;
    height: 45px;
    width: 45px;
  }

  .company-title:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }
}

.site-navbar-items {
  a {
    text-decoration: none;
  }

  .w3-bottombar {
    border-color: #f1f1f1 !important;
  }

  .w3-bottombar-color, .w3-hover-border-color:hover {
    border-color: #b47c02 !important;
  }

  .w3-button:hover {
    background-color: #f1f1f1 !important;
  }
}
