// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.site-navbar {
  .company-log {
    background-image: asset_url("admin_logo.png");
    background-repeat: no-repeat;
    background-size: 40px !important;
    height: 40px;
    width: 40px;
  }

  .company-title:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
  }
}

.site-navbar-items {
  a:hover {
    color: #fff5f5 !important;
    background-color: #b47c02 !important;
  }
}
