#projects-map {
  bottom: 0;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 50%;
}

.statistics {
  position: fixed;
  width: 100%;
}

.status-content {
  min-height: 100vh;
  padding: 0.01em 0px;
}

.w3-border-color {
  border-color: #b47c02 !important;
}

@-webkit-keyframes fadeing {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeing {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeing {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeing {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.animate-opacity {
  -webkit-animation: fadeing 3s; /* Safari 4+ */
  -moz-animation:    fadeing 3s; /* Fx 5+ */
  -o-animation:      fadeing 3s; /* Opera 12+ */
  animation:         fadeing 3s; /* IE 10+, Fx 29+ */
}
