.slider-container {
  .slider-image {
    background-position: center;
    background-size: cover;
    height: 800px;
  }
}

.slider-nav {
  .w3-badge {
    cursor: pointer;
    height: 13px;
    padding: 0;
    width: 13px;
  }
}
