<!-- Navbar (sit on top) -->
<div class="w3-top site-navbar">
  <div class="w3-bar w3-light-grey w3-wide w3-padding w3-card">
    <div class="w3-bar-item company-log"></div>
    <a href="/" class="w3-bar-item w3-button company-title" data-turbolinks="false"><b>ALPHA</b> Engineering Services</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small site-navbar-items">
      <a href="/#about" class="w3-bar-item w3-button" data-turbolinks="false">About</a>
      <a href="/#services" class="w3-bar-item w3-button" data-turbolinks="false">Services</a>
      <a href="/projects" class="w3-bar-item w3-button" data-turbolinks="false">Projects</a>
      <a href="/#contact" class="w3-bar-item w3-button" data-turbolinks="false">Contact Us</a>
    </div>
  </div>
</div>

<% flash.each do |type, message| %>
  <% case type %>
  <% when 'danger' %>
    <div class="w3-panel w3-red w3-display-container flash-message">
  <% when 'success' %>
    <div class="w3-panel w3-green w3-display-container flash-message">
  <% else %>
    <div class="w3-panel w3-blue w3-display-container flash-message">
  <% end %>
    <span onclick="this.parentElement.style.display='none'"
    class="w3-button w3-xlarge w3-display-topright">&times;</span>
    <p><%= message %></p>
  </div>
<% end %>
