<!-- Navbar (sit on top) -->
<div class="w3-top site-navbar">
  <div class="w3-bar w3-light-grey w3-wide w3-padding w3-card">
    <div class="w3-bar-item company-log"></div>
    <a href="#home" class="w3-bar-item w3-button"><b>ALPHA</b> Engineering Services</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">Projects</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>
